* {
    margin: 0px;
    padding: 0px;
}

BODY {
    background: #000;
}

#Main {
    margin: auto;
    width: 3545px;
    height: 5905px;
    background-image: url(Background.jpg);
    border: 220px solid white;
    box-sizing: border-box;
    padding-top: 430px;
}

#Mainarea {
    background-image: url("border.png");
    background-size: 100% 100%;
    margin: 0 auto;
    width: 72%;
    height: calc(100% - 440px);
    position: relative;
}

#title, #name {
    font: 241px '方正隶变简体';
    color: white;
    width: 1em;
    word-wrap: break-word;
    position: absolute;
    font-family: '方正隶变简体',LiSu;
}

#title {
    left: calc(78px - 400px);
    top: 50px;
}

#name {
    transform: rotate(180deg);
    right: calc(78px - 400px);
    bottom: 50px;
}

#top, #bottom {
    font: bolder 450px 思源宋体 CN;
    line-height: 1;
    white-space: nowrap;
    position: absolute;
    text-shadow: -20px -20px 0 #5461B0;
    color: #fceaac;
    z-index: 2;
}

#top {
    left: -338px;
    top: -442px;
}

#bottom {
    transform: rotate(180deg);
    right: -338px;
    bottom: -440px;
}
img {
    left: 169px;
    top: 473px;
    width: auto;
    height: 4060px;
    position: absolute;
}

#pic {
    z-index: 20;
    left: 0px;
    top: 0px;
}

#shadow {
    z-index: 10;
    left: -42px;
    top: 24px;
}

img#pic, img#shadow {
    display: block;
    margin: 0 auto;
    position: static;
}

img#shadow {
    padding: 20px 84px 0 0;
}

/*
div#imgVerticalWrapper {
    position: absolute;
    top: 0;
    margin-top: calc(220px + 430px);
}
*/

div.imgWrapper {
    position: absolute;
    top: 0;
    width: 3105px;
    height: 5000px;
    margin-top: calc(220px + 430px + 400px);
}