*{
    margin:0px;
    padding:0px;
}

BODY{
    background: #000;
}

#Main{
    margin:auto;
    width: 3545px;
    height: 5905px;
    background-image: url(Background.jpg);
    border:220px solid white;
    box-sizing: border-box;

}

#Demo{
    margin:120px auto;
    width: 744px;
    height: 1039px;
    background: #66ccff;
    border:40px solid white;
    box-sizing: border-box;
    border-radius:10px;

}


#Mainarea{
    background-image: url("border.png");
    background-repeat: no-repeat;
    margin:0 auto;
    width: 72%;
    height: 100%;
    transform:translate(0px,430px);
}

#title{
    font:80px 阿里巴巴普惠体 Light;
    transform:translate(80px,50px);
    color: white;
}

#name{
    font:80px 阿里巴巴普惠体 Light;
    transform:translate(80px,50px);
    color: white;
}

#UL1{
    font:bolder 450px 思源宋体 CN;
    white-space:nowrap;
    transform:translate(-390px,-760px);
    color: #5461B0;
    z-index:1;
}

#UL2{
    font:bolder 450px 思源宋体 CN;
    white-space:nowrap;
    transform:translate(-365px,-1390px);
    color:#fceaac;
    z-index:2;
}

#DR1{
    font:bold 450px 思源宋体 CN;
    white-space:nowrap;
    transform:translate(380px,3000px) rotate(180deg);;
    color: #5461B0;
    z-index:3;
}

#DR2{
    font:bold 450px 思源宋体 CN;
    white-space:nowrap;
    transform:translate(360px,2340px) rotate(180deg);
    color:#fceaac;
    z-index:4;
    
}

#locm{
    position:relative;
     margin: auto; 
    width: 2250px;
    height: auto;
    transform:translate(100px,-3010px);
}

#locs{
    position:relative;
     margin: auto; 
    width: 2250px;
    height: auto;
    transform:translate(710px,-5130px);
}
